

<div class="container">
  <div class="row">
    <div class = "col-xs-12 col-sm-6 col-sm-offset-3">
<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :image_url %>
  <%= f.submit "create your wine", class: "btn btn-primary" %>
<% end %>
</div>
  </div>
</div>
