// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

body {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),asset-url("beach-beverage-cocktail-68672.jpg");
  height: 100vh;
  background-size: cover;
}







.btn-success {
    color: #fff;
    background-color: #2DA3AA;
    border-color: #289096;
    border-radius: 17px;
    }


